*{
  padding : 0;
  margin: 0;
  /*background-color: lightgreen;*/
  font-family: "Montserrat";
  text-align: center;
}
a{
  text-decoration: none;
  color:inherit;
}
h1{
  text-align: center;
}

form{
  border-radius: 5px;
  padding: 20px;
  margin: 2em auto 3em;
  background-color: #23b2a4;
  border-radius: 5px;
  display: block;
  width: 428px;
  height: auto;
  box-sizing: border-box;
  box-shadow: inset 0 1px 3px #ddd;
}
#inputClass, #inputThem, #inputType, #inputSkill{
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.form_submit, .contact_validate{
  padding: 5px;
  margin: 10px;
}

.offer, .left, .right{
  padding: 10px;
  margin: 30px;
  border: 2px solid #23b2a4 ;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 10px;
  /*width: 428px;*/
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.retour{
  position:absolute;
  font-size: 15px;
  padding: 5px;
  margin:5px;
  text-align: center;
  left: 5px;
  top: 5px;
  color:white;
  /*font-weight: bold;*/
  background-color:#e94e6d;
  border-radius:5px;
}
.infos{
    font-size: 8px;
    padding: 15px;
    margin:5px;
    text-align: center;
    color:white;
    /*font-weight: bold;*/
    background-color:#e94e6d;
    border-radius:5px;
}
.left{
  flex:4;
}
.right{
  flex:1;
}
.skills{
  display: inline-block;
}
p{
  margin:5px auto 5px;
}
.subtitle{
    text-align: center;
font-size:120%;
  display: flex;
  color:gray;
  font-size: 70%;
}
.info_container{
  padding-top: 50px;
  display:flex;
}
.form_fields{
  color:white;
  border-radius: 5px;
  padding: 20px;
  margin: 2em 5% 3em;
  background-color: #23b2a4;
  border-radius: 5px;
  display: block;
  width: 428px;
  height: auto;
  box-sizing: border-box;
  box-shadow: inset 0 1px 3px #ddd;
}
.title{
  padding:10px;
  color:#e94e6d;
}
.title_contact{
  padding: 10px;
  font-weight: bold;
}
.type, .classe, .description, .skills{
    padding: 10px;

}
.civility, .name, .surname, .enterprise, .email, .tel, .message{
    padding: 10px;
}


/*----------ICONS--------*/
#php>i{
  color:#4f5b93;
}
#node_js>i{
  color:#44883e;
}
