*{
  padding : 0;
  margin : 0;
}

h1{
  text-align: center;
}

#form{
  background-color: #23b2a4;
  border-radius: 10px;
  align-content: space-around;
}


.form-check{
position:absolute;
margin-top:.3rem;
margin-left:-1.25rem;
}
.form-check-input:disabled~
.form-check-label{
color:#6c757d;
margin-bottom:0;
}
